<header class=" flex header">
    <div class="logo__name">FataFat <span class="logo__name-sml">Bazar</span></div>
    <nav class="nav">
        <ul class="flex menu-items">
            <li class="item"><a href="#">FAQS</a></li>
            <li class="item"><a href="#">RESPONSIBLE GAMING</a></li>
            <li class="item"><a href="#">CONTACT US</a></li>
        </ul>
    </nav>
</header>
<hr>
<section class="flex hero">
    <div class="hero__content">
        <h1 class="heading hero__heading">Play Game
            <br><span class="hero__heading-highlighter">Win up to</span>
            <span class="hero__subHeading">&#8377; 10 Lakh</span>
        </h1>
        <a href="#">
            <button class="btn Download--btnPrimary">
                <spna>
                    <i class="fa-solid fa-computer-mouse"></i>
                </spna>
                Download Now
            </button>
        </a>
        <p class="hero__showcase">Over 2Cr + Downloads <span class="fire-emoji"> &#128293;</span> &#8377;10Cr + Daily
            Winnings</p>
    </div>
    <div class="flex flex-col">
        <img class="hero__main-img" src="/images/jackpot.webp" alt="">
        <img class="brand-logo" src="/images/fataFatBazar.png" alt="">
    </div>

</section>
