<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@0,400;1,700&family=Lalezar&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/f4c08ca399.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/index.css">
    <title>FataFatBazar</title>
</head>
<body>
    <header class=" flex header">
        <div class="logo__name">FataFat <span class="logo__name-sml">Bazar</span></div>
        <nav class="nav">
            <ul class="flex menu-items">
                <li class="item"><a href="#">FAQS</a></li>
                <li class="item"><a href="#">RESPONSIBLE GAMING</a></li>
                <li class="item"><a href="#">CONTACT US</a></li>
            </ul>
        </nav>
    </header>
    <hr>
    <section class="flex hero">
        <div class="hero__content">
            <h1 class="heading hero__heading">Play Game
                <br><span class="hero__heading-highlighter">Win up to</span>
                <span class="hero__subHeading">&#8377; 10 Lakh</span>
            </h1>
            <a href="#">
                <button class="btn Download--btnPrimary">
                    <spna>
                        <i class="fa-solid fa-computer-mouse"></i>
                    </spna>
                    Download Now
                </button>
            </a>
            <p class="hero__showcase">Over 2Cr + Downloads <span class="fire-emoji"> &#128293;</span> &#8377;10Cr + Daily
                Winnings</p>
        </div>
        <div class="flex flex-col">
            <img class="hero__main-img" src="/images/jackpot.webp" alt="">
            <img class="brand-logo" src="/images/fataFatBazar.png" alt="">
        </div>

    </section>
    <section class="service-section">
        <h2 class="heading service-section__heading"> India's First & Most Trusted Real Money Logo name App</h2>
        <div class="flex services">
            <div class="flex flex-col service-box">
                <div class="icon">
                    <i class="fa-solid fa-wallet"></i>
                </div>
                <p>Instant Withdrawals</p>
            </div>
            <div class="flex flex-col service-box">
                <div class="icon">
                    <i class="fa-solid fa-user-shield"></i>
                </div>
                <p>100% Legal & Secure</p>
            </div>
            <div class="flex flex-col service-box">
                <div class="icon">
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                </div>
                <p>Supreme Cashback</p>
            </div>
            <div class="flex flex-col service-box">
                <div class="icon">
                    <i class="fa-solid fa-dice"></i>
                </div>
                <p>24/7<br>Tournaments</p>
            </div>
            <div class="flex flex-col service-box">
                <div class="icon">
                    <i class="fa-solid fa-certificate"></i>
                </div>
                <p>RNG<br>Certified Dice</p>
            </div>
            <div class="flex flex-col service-box">
                <div class="icon">
                    <i class="fa-solid fa-headset"></i>
                </div>
                <p>Dedicated Customer Support</p>
            </div>
        </div>
    </section>

    <section class=" flex rating-scoreCard">
        <div class=" flex rating-box">
            <div class=" flex flex-col ratings">
                <h2 class="reviews">4.5</h2>
                <div class="review__stars">
                    <span class="star"><i class="fa-solid fa-star"></i></span>
                    <span class="star"><i class="fa-solid fa-star"></i></span>
                    <span class="star"><i class="fa-solid fa-star"></i></span>
                    <span class="star"><i class="fa-solid fa-star"></i></span>
                    <span class="star"><i class="fa-solid fa-star-half"></i></span>

                </div>
            </div>
            <div class=" flex flex-col rating__bars">
                <div class="flex rating__number">
                    <div>5</div>
                    <div class="bar rating__bar5"></div>
                </div>
                <div class="flex box-rating-img">
                    <div class="flex box flex-col">
                        <div class=" flex rating__number">
                            <div>4</div>
                            <div class="bar rating__bar4"></div>
                        </div>
                        <div class=" flex rating__number">
                            <div>3</div>
                            <div class="bar rating__bar3"></div>
                        </div>
                        <div class="flex rating__number">
                            <div>2</div>
                            <div class="bar rating__bar2"></div>
                        </div>
                        <div class="flex rating__number">
                            <div>1</div>
                            <div class="bar rating__bar1"></div>
                        </div>
                    </div>
                    <div class="brand-logoBox">
                        <img class="brand-logo" src="/images/fataFatBazar.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="scoreCard__content">
            <h2 class="heading scoreCard__heading">Trusted by <br>
                <span class="scoreCard__subHeading">Lakhs of Verified Players</span>
            </h2>
            <a href="#"><button class="btn Download--btnSecondary">
                    <spna><i class="fa-solid fa-computer-mouse"></i>
                    </spna>
                    Download our Android App
                </button>
            </a>
        </div>
    </section>

    <section class="winner-section">
        <h2 class="heading winner-section__heading">Logo Name <span>Winners</span></h2>
        <div class="flex">
            <div class="winner-panel">
                <div class="flex winner__detail">
                    <img class="winner__logo" src="/images/surendra.jpg" alt="Menakshi is smiling">
                    <div class="">
                        <h3 class=" heading winner__name">Surendra Kumar</h3>
                        <span class="winner__place">Lucknow</span>
                    </div>
                </div>
                <span class="winner__reward">Won: 15.8 lakhs</span>
                <p class="winner__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ut sed
                    eligendi at,
                    suscipit quidem cumque dignissimos.
            </div>

            <div class="winner-panel">
                <div class="flex winner__detail">
                    <img class="winner__logo" src="/images/menakshi.jpg" alt="Menakshi is smiling">
                    <div class="">
                        <h3 class=" heading winner__name">Meenakshi</h3>
                        <span class="winner__place">Bihar</span>
                    </div>
                </div>
                <span class="winner__reward">Won: 10.3 lakhs</span>
                <p class="winner__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ut sed
                    eligendi at,
                    suscipit quidem cumque dignissimos.</p>
            </div>

            <div class="winner-panel">
                <div class="flex winner__detail">
                    <img class="winner__logo" src="/images/sujata.jpg" alt="Menakshi is smiling">
                    <div class="">
                        <h3 class=" heading winner__name">Sujata Rao</h3>
                        <span class="winner__place">Delhi</span>
                    </div>
                </div>
                <span class="winner__reward">Won: 5.5 lakhs</span>
                <p class="winner__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ut sed
                    eligendi at,
                    suscipit quidem cumque dignissimos.</p>
            </div>
        </div>
    </section>

    <section class="winning-time">
        <h2 class="heading winning-time__heading">
            Ultimate<span>Winning</span> Experience
        </h2>
        <div class="flex">
            <div class="flex flex-col first-row">
                <div class="game-time__format">
                    <h3 class="heading winning-time__subHeading">10 minute Format</h3>
                    <p class="winning-time-intro">
                        This is the most amazing real money game in India right now. Fair & Square! The intelligent
                    </p>
                </div>
                <div class="game-time__format">
                    <h3 class="heading winning-time__subHeading">10 minute Format</h3>
                    <p class="winning-time-intro">
                        This is the most amazing real money game in India right now. Fair & Square! The intelligent
                    </p>
                </div>
                <div class="game-time__format">
                    <h3 class="heading winning-time__subHeading">10 minute Format</h3>
                    <p class="winning-time-intro">
                        This is the most amazing real money game in India right now. Fair & Square! The intelligent
                    </p>
                </div>
            </div>

            <div class="flex flex-col display-images">
                <img class="hero__main-img" src="/images/jackpot.webp" alt="">
                <div class="flex sub-img">
                    <img class="brand-logo" src="/images/fataFatBazar.png" alt="">
                    <img class="timer" src="/images/10-minute.svg" alt="">
                </div>
            </div>

            <div class="flex flex-col next-row">
                <div class="game-time__format">
                    <h3 class="heading winning-time__subHeading">10 minute Format</h3>
                    <p class="winning-time-intro">
                        This is the most amazing real money game in India right now. Fair & Square! The intelligent
                    </p>
                </div>
                <div class="game-time__format">
                    <h3 class="heading winning-time__subHeading">10 minute Format</h3>
                    <p class="winning-time-intro">
                        This is the most amazing real money game in India right now. Fair & Square! The intelligent
                    </p>
                </div>
                <div class="game-time__format">
                        <h3 class="heading winning-time__subHeading">10 minute Format</h3>
                        <p class="winning-time-intro">
                            This is the most amazing real money game in India right now. Fair & Square! The intelligent
                        </p>
                </div>
            </div>

        </div>

    </section>

    <section class="faq-panel">
        <h2 class="heading faq__heading">FAQ<span>S</span></h2>
        <div class="flex flex-col question-panel">
            <div class="questions">
                <div class="flex">
                    <h3 class="faq__question">Is it safe to play on Logo Name?</h3>
                    <span class="collapsible-icon">
                        <i class="fa-sharp fa-solid fa-plus"></i>
                        </span>
                </div>
                <p class="faq__answer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus ipsum incidunt quis natus,
                    magni molestias ipsam iusto ex consequatur iste, quo a facere. Debitis omnis quisquam aut facilis voluptate non
                </p>
            </div>
            <div class="questions">
                <div class="flex">
                    <h3 class="faq__question-spl">How does a real money game work?</h3>
                    <span class="collapsible-icon">
                        <i class="fa-sharp fa-solid fa-minus"></i>
                    </span>
                </div>
                <p class="faq__answer-spl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus ipsum incidunt quis natus,
                    magni molestias ipsam iusto ex consequatur iste, quo a facere. Debitis omnis quisquam aut facilis voluptate non
                </p>
            </div>
            <div class="questions">
                <div class="flex">
                    <h3 class="faq__question">Can I actually win money on Logo Name?</h3>
                    <span class="collapsible-icon">
                        <i class="fa-sharp fa-solid fa-plus"></i>
                    </span>
                </div>
                <p class="faq__answer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus ipsum incidunt quis natus,
                    magni molestias ipsam iusto ex consequatur iste, quo a facere. Debitis omnis quisquam aut facilis voluptate non
                </p>
            </div>
            <div class="questions">
                <div class="flex">
                    <h3 class="faq__question">Is it safe to add money on Logo Name?</h3>
                    <span class="collapsible-icon">
                        <i class="fa-sharp fa-solid fa-plus"></i>
                    </span>
                </div>
                <p class="faq__answer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus ipsum incidunt quis natus,
                    magni molestias ipsam iusto ex consequatur iste, quo a facere. Debitis omnis quisquam aut facilis voluptate non
                </p>
            </div>
            <div class="questions">
                <div class="flex">
                    <h3 class="faq__question">How can I withdraw my money?</h3>
                    <span class="collapsible-icon">
                        <i class="fa-sharp fa-solid fa-plus"></i>
                    </span>
                </div>
                <p class="faq__answer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus ipsum incidunt quis natus,
                    magni molestias ipsam iusto ex consequatur iste, quo a facere. Debitis omnis quisquam aut facilis voluptate non
                </p>
            </div>
        </div>
    </section>

    <footer class=" flex footer">
        <div class="flex flex-col connect-us">
            <div class="logo__name">FataFat <span class="logo__name-sml">Bazar</span></div>
            <div class="flex social__icons">
                <ul class="flex link-items">
                    <li class="link-item">
                        <a href="#youtube" class="icon-container">
                            <span class="fa-brands icon-link fa-youtube"></span>
                        </a></li>
                    <li class="link-item">
                        <a herf="https://www.email.com" class="icon-container">
                            <span class="fa-regular icon-link fa-envelope"></span>
                        </a>
                    </li>
                    <li class="link-item">
                        <a herf="https://www.facebook.com" class="icon-container">
                            <span class="fa-brands icon-link fa-facebook"></span>
                        </a>
                    </li>

                    <li class="link-item">
                        <a href="https://www.instagram.com" class="icon-container">
                            <span class="fa-brands icon-link fa-instagram"></span>
                        </a>
                    </li>

                </ul>
            </div>
            <nav class="flex nav">
                <ul class="flex menu-items">
                    <li class="social__links"><a href="#">RNG Certifications</a></li>
                    <li class="social__links"><a href="#">Privacy Policy</a></li>
                    <li class="social__links"><a href="#">Terms & Conditions</a></li>
                    <li class="social__links"><a href="#">Responsible gaming</a></li>
                    <li class="social__links"><a href="#">Fair Play</a></li>
                </ul>
            </nav>
            <p class="copy-right">&copy; Logo Name Limited. All rights Reserved.</p>
        </div>

        <div class=" flex flex-col payment-section">
            <h2 class="heading payment-section__heading">Payment Partners</h2>
            <div class="flex payment-gateway">
                <a href="#">
                    <button class="btn payment-btn">
                        <spna class="btn-img">
                            <img src="/images/razorpay.svg" class="dark-logo" alt="razorpay">
                        </spna>
                    </button>
                </a>
                <a href="#">
                    <button class="btn payment-btn">
                        <spna class="btn-img-cashfree">
                            <img src="https://cashfreelogo.cashfree.com/website/NavFooter/Cashfree-Dark.svg" class="dark-logo" alt="cashfree" alt="cashfree"/>
                        </spna>
                    </button>
                </a>
            </div>

        </div>
    </footer>
</body>
</html>
