<section class="service-section">
    <h2 class="heading service-section__heading"> India's First & Most Trusted Real Money Logo name App</h2>
    <div class="flex services">
        <div class="flex flex-col service-box">
            <div class="icon">
                <i class="fa-solid fa-wallet"></i>
            </div>
            <p>Instant Withdrawals</p>
        </div>
        <div class="flex flex-col service-box">
            <div class="icon">
                <i class="fa-solid fa-user-shield"></i>
            </div>
            <p>100% Legal & Secure</p>
        </div>
        <div class="flex flex-col service-box">
            <div class="icon">
                <i class="fa-solid fa-hand-holding-dollar"></i>
            </div>
            <p>Supreme Cashback</p>
        </div>
        <div class="flex flex-col service-box">
            <div class="icon">
                <i class="fa-solid fa-dice"></i>
            </div>
            <p>24/7 Tournaments</p>
        </div>
        <div class="flex flex-col service-box">
            <div class="icon">
                <i class="fa-solid fa-certificate"></i>
            </div>
            <p>RNG Certified Dice</p>
        </div>
        <div class="flex flex-col service-box">
            <div class="icon">
                <i class="fa-solid fa-headset"></i>
            </div>
            <p>Dedicated Customer Support </p>
        </div>
    </div>

</section>

<section class=" flex rating-scoreCard">
    <div class=" flex rating-box">
        <div class=" flex flex-col ratings">
            <h2 class="reviews">4.5</h2>
            <div class="review__stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half"></i>
            </div>
        </div>
        <div class=" flex flex-col rating__bars">
            <div class="flex rating__number">
                <div>5</div>
                <div class="rating__bar5 bar"></div>
            </div>
            <div class="flex">
                <div class="flex box flex-col">
                    <div class=" flex rating__number">
                        <div>4</div>
                        <div class="rating__bar4 bar"></div>
                    </div>
                    <div class=" flex rating__number">
                        <div>3</div>
                        <div class="rating__bar3 bar"></div>
                    </div>
                    <div class="flex rating__number">
                        <div>2</div>
                        <div class="rating__bar2 bar"></div>
                    </div>
                    <div class="flex rating__number">
                        <div>1</div>
                        <div class="rating__bar1 bar"></div>
                    </div>
                </div>
                <img class="brand-logo" src="/images/fataFatBazar.png" alt="">
            </div>
        </div>
    </div>
    <div class="scoreCard__content">
        <h2 class="heading scoreCard__heading">Trusted by <br>
            <span class="scoreCard__subHeading">Lakhs of Verified Players</span>
        </h2>
        <a href="#"><button class="btn Download--btnSecondary">
                <spna><i class="fa-solid fa-computer-mouse"></i>
                </spna>
                Download our Android App
            </button>
        </a>
    </div>
</section>

<section class="winner-section">
    <h2 class="heading winner-section__heading">Logo Name <span>Winners</span></h2>
    <div class="flex">
        <div class="winner-panel">
            <div class="flex winner__detail">
                <img class="winner__logo" src="/images/surendra.jpg" alt="Menakshi is smiling">
                <div class="">
                    <h3 class=" heading winner__name">Surendra Kumar</h3>
                    <span class="winner__place">Lucknow</span>
                </div>
            </div>
            <span class="winner__reward">Won: 15.8 lakhs</span>
            <p class="winner__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ut sed
                eligendi at,
                suscipit quidem cumque dignissimos.
        </div>

        <div class="winner-panel">
            <div class="flex winner__detail">
                <img class="winner__logo" src="/images/menakshi.jpg" alt="Menakshi is smiling">
                <div class="">
                    <h3 class=" heading winner__name">Meenakshi</h3>
                    <span class="winner__place">Bihar</span>
                </div>
            </div>
            <span class="winner__reward">Won: 10.3 lakhs</span>
            <p class="winner__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ut sed
                eligendi at,
                suscipit quidem cumque dignissimos.</p>
        </div>

        <div class="winner-panel">
            <div class="flex winner__detail">
                <img class="winner__logo" src="/images/sujata.jpg" alt="Menakshi is smiling">
                <div class="">
                    <h3 class=" heading winner__name">Sujata Rao</h3>
                    <span class="winner__place">Delhi</span>
                </div>
            </div>
            <span class="winner__reward">Won: 5.5 lakhs</span>
            <p class="winner__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ut sed
                eligendi at,
                suscipit quidem cumque dignissimos.</p>
        </div>
    </div>
</section>
