<section class="service-section">
    <h2 class="heading service-section__heading"> India's First & Most Trusted Real Money Logo name App</h2>
    <div class="flex services">
        <div class="flex flex-col service-box">
            <div class="icon">
                <i class="fa-solid fa-wallet"></i>
            </div>
            <p>Instant Withdrawals</p>
        </div>
        <div class="flex flex-col service-box">
            <div class="icon">
                <i class="fa-solid fa-user-shield"></i>
            </div>
            <p>100% Legal & Secure</p>
        </div>
        <div class="flex flex-col service-box">
            <div class="icon">
                <i class="fa-solid fa-hand-holding-dollar"></i>
            </div>
            <p>Supreme Cashback</p>
        </div>
        <div class="flex flex-col service-box">
            <div class="icon">
                <i class="fa-solid fa-dice"></i>
            </div>
            <p>24/7 Tournaments</p>
        </div>
        <div class="flex flex-col service-box">
            <div class="icon">
                <i class="fa-solid fa-certificate"></i>
            </div>
            <p>RNG Certified Dice</p>
        </div>
        <div class="flex flex-col service-box">
            <div class="icon">
                <i class="fa-solid fa-headset"></i>
            </div>
            <p>Dedicated Customer Support </p>
        </div>
    </div>

</section>
