
<section class="winner-section">
        <h2 class="heading winner-section__heading">Logo Name <span>Winners</span></h2>
        <div class="flex">
            <div class="winner-panel">
                <div class="flex winner__detail">
                    <img class="winner__logo" src="/images/surendra.jpg" alt="Menakshi is smiling">
                    <div class="">
                        <h3 class=" heading winner__name">Surendra Kumar</h3>
                        <span class="winner__place">Lucknow</span>
                    </div>
                </div>
                <span class="winner__reward">Won: 15.8 lakhs</span>
                <p class="winner__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ut sed eligendi at,
                    suscipit quidem cumque dignissimos.
            </div>

            <div class="winner-panel">
            <div class="flex winner__detail">
                <img class="winner__logo" src="/images/menakshi.jpg" alt="Menakshi is smiling">
                <div class="">
                    <h3 class=" heading winner__name">Meenakshi</h3>
                    <span class="winner__place">Bihar</span>
                </div>
            </div>
            <span class="winner__reward">Won: 10.3 lakhs</span>
            <p class="winner__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ut sed eligendi at,
                suscipit quidem cumque dignissimos.</p>
            </div>

            <div class="winner-panel">
            <div class="flex winner__detail">
                <img class="winner__logo" src="/images/sujata.jpg" alt="Menakshi is smiling">
                <div class="">
                    <h3 class=" heading winner__name">Sujata Rao</h3>
                    <span class="winner__place">Delhi</span>
                </div>
            </div>
            <span class="winner__reward">Won: 5.5 lakhs</span>
            <p class="winner__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ut sed eligendi at,
                suscipit quidem cumque dignissimos.</p>
            </div>
        </div>
    </section>
