<div class="winner-panel">
    <div class="flex winner__detail">
        <img class="winner__logo" src="/images/menakshi.jpg" alt="Menakshi is smiling">
        <div class="">
            <h3 class=" heading winner__name">Meenakshi</h3>
            <span class="winner__place">Bihar</span>
        </div>
    </div>
    <span class="winner__reward">Won: 10.3 lakhs</span>
    <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ut sed eligendi at,
        suscipit quidem cumque dignissimos porro alias officia veniam reprehenderit sequi! Ex, aliquid labore sint
        accusamus iusto enim magnam cupiditate obcaecati illo, a tenetur dolore ullam. Numquam incidunt laboriosam animi
        aspernatur. Quam nihil fugit ad beatae et rem</p>
</div>
